@{
    ViewData["Title"] = "پایان ثبت نام";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">قروشگاه اینترنتی محیا</a></li>
        <li class="breadcrumb-item active" aria-current="page">پایان ثبت نام</li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="direction: rtl; padding: 20px">
                <h2 style="direction: rtl; padding: 20px">کاربر عزیز !</h2>
                <p>ثبت نام شما انجام شد ، ایمیلی حاوی لینک فعالسازی به ایمیل شما ارسال شد .</p>
                <div>
                    <p>جهت ادامه ثبت نام وارد ایمیل خود شوید و روی لینک کلیک کنید .</p>
                </div>
            </div>
        </div>
    </div>
</div>
