@model Mahya.Domain.Models.Account.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Email عزیز !</h2>
    <p>
       جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="https://localhost:44352/Account/ResetPassword/@Model.MobileActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
